.HUD {
	width: 1147px;
	height: 120px;
	margin: 0 auto;
	// make a rainbow border
	border: 3px solid rgb(74, 152, 255);
	cursor: url("../assets/puppeteer-art/cursor1.png"), auto;
	display: none;
	flex-direction: row;
	justify-content: space-around;
	position: relative;
}

.mini-menu {
	width: 25%;
	height: 120px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}

#fight-button {
	font-size: 35px;
	width: 287px;
	color: black;
	border: 10px solid gold;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	background-color: rgb(255, 255, 255);
}

.fight-choice {
	width: 50%;
	font-size: 20px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	display: none;
	color: rgb(9, 9, 9);
}

.fight-choice button {
	width: 144px;
	height: 60px;
	border: none;
	color: rgb(255, 255, 255);
}

.player-name,
.enemy-name {
	font-size: 30px;
	font-family: sans-serif;
	font-weight: bold;
	position: absolute;
	top: 10px;
	color: black;
	z-index: 1;
}

.player-name {
	left: 10px;
}

.enemy-name {
	right: 10px;
}

.dialogue {
	color: white;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: bold;
	position: relative;
	z-index: 1;
}

#dialogue-text {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
}

#dialogue-img {
	z-index: -1;
}

.player-hp-border,
.enemy-hp-border {
	background-color: black;
	width: 260px;
	height: 20px;
	position: absolute;
	top: 10px;
	z-index: 1;
	border: 4px solid black;
}

.player-hp-border {
	left: 10px;
}

.enemy-hp-border {
	right: 10px;
}

.player-hp,
.enemy-hp {
	background-color: greenyellow;
	width: 260px;
	height: 20px;
	position: absolute;
	top: 10px;
	z-index: 1;
	border: 4px solid black;
}

.player-hp {
	left: 10px;
}

.enemy-hp {
	right: 10px;
}

.player-hp-num {
	position: absolute;
	top: 40px;
	left: 10px;
	z-index: 1;
	font-size: 37px;
	font-family: sans-serif;
}

.enemy-hp-num {
	position: absolute;
	top: 40px;
	right: 10px;
	z-index: 1;
	font-size: 37px;
	font-family: sans-serif;
}
