// meta

body {
	background: rgb(
		1,
		4,
		11,
		255
	); // setting the background color to the same as the start screen art
	overflow: hidden;
}

// game

.game-container {
	width: 1147px;
	height: 800px;
	margin: 0 auto;
	cursor: url("../assets/overworld/cursor1.png"), auto;
	position: relative;
}

.game-container img {
	border-radius: 15px;
	left: 42%;
	top: 80%;
	position: absolute;
	background-clip: padding-box;
}

.game-container .game-canvas {
	position: absolute;
}

.player-canvas {
	position: relative;
}

.enemy-canvas {
	position: relative;
}

// nav and link buttons

.navbar {
	width: 1147px;
	height: 120px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}

#link-buttons {
	width: 120px;
	transform: translateY(25%);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}

.github-button {
	top: 0;
	right: 0;
	position: relative;
}

.linkedin-button {
	top: 0;
	right: 0;
	position: relative;
}

.github-button img {
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	position: relative;
	border: none;
	background-color: transparent;
}

.linkedin-button img {
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	position: relative;
	border: none;
	background-color: transparent;
}

#mute-button {
	border: none;
	background-color: transparent;
}

#mute-button img {
	width: 40px;
	height: 40px;
}

// imports

@import './styles/battleHUD';
