// meta

body {
	background: rgb(
		1,
		4,
		11,
		255
	); // setting the background color to the same as the start screen art
	overflow: hidden;
}

// game

.game-container {
	width: 1147px;
	height: 800px;
	margin: 0 auto;
	cursor: url("../assets/puppeteer-art/cursor1.png"), auto;
	position: relative;
}

.game-container .game-canvas {
	position: absolute;
}

.player-canvas {
	position: relative;
}

.enemy-canvas {
	position: relative;
}

// nav and link buttons

.navbar {
	width: 1147px;
	height: 80px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}

#link-buttons {
	width: 120px;
	transform: translateY(15%);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}

.github-button {
	top: 0;
	right: 0;
	position: relative;
}

.linkedin-button {
	top: 0;
	right: 0;
	position: relative;
}

.github-button img {
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	position: relative;
	border: none;
	background-color: transparent;
}

.linkedin-button img {
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	position: relative;
	border: none;
	background-color: transparent;
}

#mute-button {
	border: none;
	background-color: transparent;
}

#mute-button i {
	font-size: 40px;
	width: 40px;
	height: 40px;
}

// mute button flash

@keyframes flashing {
	0%,
	100% {
		color: white;
	}
	50% {
		color: black;
	}
}

// cutscene CSS:
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"); /* Pixelated font */

.text-frame {
	background-color: rgba(0, 0, 0, 0.8);
	// border: 2px solid rgb(177, 255, 132);
	z-index: 1;
	position: absolute;
	top: 80%;
	left: 0;
	width: 100%;
	height: 20%;
	text-align: center;
	font-size: 20px;
	color: rgb(255, 255, 255);
	font-family: "Press Start 2P", cursive;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.profile-pic {
	width: 15%;
	height: 100%;
}

.inner-text {
	width: 60%;
	height: 40%;
	margin-left: 20px;
}

.upgrade-container {
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.attack-upgrade,
.vitality-upgrade {
	width: 90%;
	height: 30%;
	font-family: "Press Start 2P", cursive;
	font-size: 20px;
	cursor: url("../assets/puppeteer-art/cursor1.png"), auto;
}

// text box animation

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.blink {
	animation: blink 1s linear infinite;
}

.start-button {
	background-image: url("../assets/UI-art/Start Button.png");
	cursor: url("../assets/puppeteer-art/cursor1.png"), auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 280px;
	height: 100px;
	margin: 0 auto;
	position: relative;
	top: 80%;
	left: 38%;
	transform: translateY(-50%);
	z-index: 1;
	border-radius: 20px; // add this line
}

// imports

@import "./styles/battleHUD";
